# Logs
logs
*.log
npm-debug.log*
package-lock.json

# Coverage directory used by tools like istanbul
coverage/
coverage.json

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz
.idea/

migrations/
.env

